<app-navbar></app-navbar>

<div class="home-wrapper">
  <div class="hero-section">
    <img src="https://static.vecteezy.com/system/resources/previews/024/775/844/non_2x/online-test-banner-template-for-distance-courses-and-training-flat-illustration-online-exam-and-remote-test-concept-for-internet-schooling-and-e-learning-with-cartoon-people-characters-free-vector.jpg" alt="IETS Banner" class="hero-image">
    <div class="hero-text">
      <h1>Welcome to IELTS Mock Test Portal</h1>
      <p>Practice IETS tests for Listening, Reading, Writing, and Speaking sections.</p>
      <button class="login-btn" routerLink="/login">
    Login
  </button>
    </div>
  </div>

  <div class="sections">
    <div class="section-card">
      <h3>Listening</h3>
      <p>Enhance your listening skills with practice tests.</p>
      <a [routerLink]="['/student-dashboard']" [queryParams]="{ type: 'LISTENING' }" class="btn">
  Start Listening Test
</a>

    </div>

    <div class="section-card">
      <h3>Reading</h3>
      <p>Improve your reading speed and comprehension.</p>
      <a [routerLink]="['/student-dashboard']" [queryParams]="{ type: 'READING' }" class="btn">
  Start Reading Test
</a>
    </div>

    <div class="section-card">
      <h3>Writing</h3>
      <p>Practice essay and report writing for IELTS.</p>
      <a [routerLink]="['/student-dashboard']" [queryParams]="{ type: 'WRITING' }" class="btn">
  Start Writing Test
</a>
    </div>

    <div class="section-card">
      <h3>Speaking</h3>
      <p>Prepare for your speaking test with sample exercises.</p>
      <a [routerLink]="['/student-dashboard']" [queryParams]="{ type: 'SPEAKING' }" class="btn">
  Start Speaking Test
</a>
    </div>
  </div>
</div>


