<nav class="navbar">

  <!-- LOGO -->
  <div class="logo" routerLink="/" (click)="closeMenu()">
    <img src="https://static.vecteezy.com/system/resources/previews/010/190/899/non_2x/iet-letter-technology-logo-design-on-white-background-iet-creative-initials-letter-it-logo-concept-iet-letter-design-vector.jpg" alt="IETS Logo">
    <span>IELTS Portal</span>
  </div>

  <!-- HAMBURGER -->
  <div class="hamburger" (click)="toggleMenu()">
    ☰
  </div>

  <!-- LINKS -->
  <div class="nav-links" [class.open]="menuOpen">

    <a routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       (click)="closeMenu()">Home</a>

    <a routerLink="/login"
       routerLinkActive="active"
       (click)="closeMenu()">Login</a>

    <a routerLink="/login"
       routerLinkActive="active"
       (click)="closeMenu()">Student</a>

    <a routerLink="/login"
       routerLinkActive="active"
       (click)="closeMenu()">Moderator</a>
        <a routerLink="/about-us" 
        routerLinkActive="active" 
        (click)="closeMenu()">About Us & Our Mission</a>

    <!-- FAQ LINK -->
    <a routerLink="/faq"
       routerLinkActive="active"
       (click)="closeMenu()">FAQ</a>

  </div>

</nav>
